doctype html
html(lang="en")
  head
    title= title
    script. 
        var list = !{JSON.stringify(list)};
    script(src="/js/1.js")
  body
    p(id="p1") 
    p(id="total") 

    h part 2 
    p(id="nums")
    p(id="sums")
    p(id="debug")
    